label{
    display: inline-block;
    min-width: 80px;
}

body{
    background-color: antiquewhite;
}

.div-central{
    display: flex;
    align-items: center;
    flex-direction: column;
}

[id^=contenedor]{
    border: 1px solid cornflowerblue;
    padding: 5px;
    margin: 5px;
}

.contenedor

#contenedorTodasActividades > div.actividad{
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 247, 244);
}

.mapa{
    height: 400px;
    width: 100%;
}


.usuario{
    background-color: rgb(255, 247, 244);
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}